<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>My Project Tool</title>
{#    <link rel="icon" type="image/png" href="/media/mtnl.png" sizes="50x50">#}

    <!-- Global stylesheets -->
    <link href="{% static "assets/css/jquery-ui.min.css" %}" rel="stylesheet" type="text/css">
    <link href="{% static "assets/css/icons/icomoon/styles.css" %}" rel="stylesheet" type="text/css">
    <link href="{% static "assets/css/bootstrap.css" %}" rel="stylesheet" type="text/css">
    <link href="{% static "assets/css/core.css" %}" rel="stylesheet" type="text/css">
    <link href="{% static "assets/css/components.css" %}" rel="stylesheet" type="text/css">
    <link href="{% static "assets/css/colors.css" %}" rel="stylesheet" type="text/css">
    <link href="{% static "assets/css/lobilist.css" %}" rel="stylesheet" type="text/css">

    <!-- /global stylesheets -->

    <!-- Core JS files -->




    <script type="text/javascript" src="{% static "assets/js/jquery.js" %}"></script>
    <script type="text/javascript" src="{% static "assets/js/plugins/loaders/pace.min.js" %}"></script>
    <script type="text/javascript" src="{% static "assets/js/core/libraries/bootstrap.min.js" %}"></script>
    <script type="text/javascript" src="{% static "assets/js/plugins/loaders/blockui.min.js" %}"></script>
    <script type="text/javascript" src="{% static "assets/js/lobilist.js" %}"></script>
    <script type="text/javascript" src="{% static "assets/js/jquery.ui.touch-punch-improved.js" %}"></script>
<script type="text/javascript" src="{% static "assets/js/jquery-ui.min.js" %}"></script>
<script type="text/javascript" src="{% static "assets/js/lobibox.min.js" %}"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.8/js/jquery.dataTables.min.js"></script>

    <!-- /core JS files -->

    <!-- Theme JS files -->
    <script type="text/javascript" src="{% static "assets/js/plugins/forms/wizards/stepy.min.js" %}"></script>
    <script type="text/javascript" src="{% static "assets/js/plugins/forms/selects/select2.min.js" %}"></script>
    <script type="text/javascript" src="{% static "assets/js/plugins/forms/styling/uniform.min.js" %}"></script>
    <script type="text/javascript" src="{% static "assets/js/plugins/extensions/cookie.js" %}"></script>
    <script type="text/javascript" src="{% static "assets/js/plugins/forms/styling/uniform.min.js" %}"></script>
    <script type="text/javascript" src="{% static "assets/js/pages/wizard_stepy.js" %}"></script>



    <!-- /theme JS files -->

</head>

<body style="background-color: #FF9800">

{% block contain %}


{% endblock %}

{% block script %}


{% endblock %}


</body>
</html>
