{% extends 'base/layout.html' %}
{% block contain %}
    <style>
        .todo_title {
            background: #89dbf7;
            border-radius: 2em;
            border: none;
            font-weight: bold;
            padding: 0.8em;

            color: #A2A2A2;
            font-size: 1.1em;
            padding-left: 1.5em;

            outline: none;
            box-shadow: 0 4px 6px -5px hsl(0, 0%, 40%), inset 0px 4px 6px -5px hsl(0, 0%, 2%)
        }

        .task_desc {
            background: #13f7ab;
            border-radius: 2em;
            border: none;
            font-weight: bold;
            padding: 0.3em;

            color: #A2A2A2;
            font-size: 1.1em;
            padding-left: 1.5em;

            outline: none;
            box-shadow: 0 4px 6px -5px hsl(0, 0%, 40%), inset 0px 4px 6px -5px hsl(0, 0%, 2%)
        }

    </style>
    <div class="container">
        <a href="{% url 'logout' %}"><input type="button" class="btn-danger form-control " style="width: 100px"
                                            value="Logout"></a>

        <div class="panel-heading">

            {% for i in data %}
                <div class="add_div" id="add_div">
                    <div class="panel panel-primary">

                            <div class=" panel-heading todo_box">
                                <input type="text" class="todo_title" value="{{ i.project_name }}" name="todo_title"
                                       style="width: 80%;color: black" placeholder="Enter Project Name">
                                <input type="text" class="todo_id" value="{{ i.id }}" name="todo_id"
                                       style="color: black" hidden
                                >
                                <button style="border:none;background-color: transparent" class="btn title_edit"><i
                                        class="fas fa-pencil-alt"></i></button>
                                <button style="border:none;background-color: transparent"
                                        class="btn btn-danger title_remove"><i
                                        class="fas fa-trash-alt"></i></button>
                                <button style="border:none;background-color: transparent"
                                        class="btn btn-success title_save"><i
                                        class="fas fa-check"></i></button>

                            </div>
                            <div class="panel-body task_box" style="background-color: lightblue;">

                                {% for j in i.task %}
                                    <div class="task_div">
                                        <input type="text" class="task_desc" value="{{ j.task_desc }}" name="task_desc"
                                               style="width: 80%;color: black" placeholder="Enter Task Description">
                                        <button style="border:none;background-color: transparent"
                                                class="btn btn-success clone_task"
                                                type="button"><i class="fas fa-plus-square"></i>
                                        </button>


                                        <button style="border:none;background-color: transparent;"
                                                class="btn task_edit"><i class="fas fa-pencil-alt"></i>
                                        </button>
                                        <button style="border:none;background-color: transparent"
                                                class="btn task_remove"><i class="fas fa-trash-alt"></i>
                                        </button>
                                        <button style="border:none;background-color: transparent"
                                                class="btn task_save"><i class="fas fa-check"></i>
                                        </button>
                                    </div>
                                {% endfor %}
                                <div class="task_div">
                                    <input type="text" class="task_desc" name="task_desc"
                                           style="width: 80%;color: black" placeholder="Enter Task Description">
                                    <button style="border:none;background-color: transparent"
                                            class="btn btn-success clone_task"
                                            type="button"><i class="fas fa-plus-square"></i>
                                    </button>

                                    <button style="border:none;background-color: transparent;"
                                            class="btn task_edit"><i class="fas fa-pencil-alt"></i>
                                    </button>
                                    <button style="border:none;background-color: transparent"
                                            class="btn task_remove"><i class="fas fa-trash-alt"></i>
                                    </button>
                                    <button style="border:none;background-color: transparent"
                                            class="btn task_save"><i class="fas fa-check"></i>
                                    </button>
                                </div>
                            </div>

                    </div>
                </div>

            {% endfor %}

            <div id="id_parent" class="tile"></div>

            <div class="text-center">
                <button class="btn btn-primary" type="button" name="ok" id="add_new_div" onclick="add_new_entry()">
                    Add TODO
                </button>
            </div>
        </div>
    </div>

{% endblock %}

{% block script %}
    <script type="application/javascript">

        $(document).ready(function () {

            //------------------ADD TASK---------------------------//
            $('body').on("click", '.clone_task', function () {
                var cloned_task = $(this).closest(".task_div").clone(true);
                $(cloned_task).find('.task_desc').val('');
                $(cloned_task).insertAfter($(this).parent());
                $(cloned_task).find('.task_desc').removeAttr('readonly');
            });

        });
    </script>
    <script type="application/javascript">
        $(document).ready(function () {
            //-------------------ADD PROJECT IN DB---------------------------//

            $('body').on("click", '.title_save', function () {

                var todo_title = $(this).closest("div.todo_box").find(".todo_title");
                var project_name = $(this).closest("div.todo_box").find(".todo_title").val();
                var project_id = $(this).closest("div.todo_box").find(".todo_id");

                $.ajax({
                    type: 'GET',
                    url: '/app/add_project/',
                    dataType: 'json',
                    data: {"project_name": project_name, "project_id": project_id.val()},
                    success: function (data) {
                        if (data[0] === 'created') {
                            swal({
                                title: "Successfully Created",
                                text: project_name,
                                icon: "success",
                                closeOnClickOutside: false,
                                closeOnEsc: false
                            });

                            todo_title.attr("readonly", true);
                            project_id.val(data[1])

                        }
                        else {
                            swal({
                                title: "Successfully Updated",
                                text: project_name,
                                icon: "success",
                                closeOnClickOutside: false,
                                closeOnEsc: false
                            });

                            todo_title.attr("readonly", true);
                            project_id.val(data[1])

                        }
                    }
                })
            });

            //-------------------ED PROJECT IN DB---------------------------//

            $('.title_edit').click(function () {
                $(this).closest("div.todo_box").find(".todo_title").removeAttr('readonly');
            });
        })
    </script>
    <script type="application/javascript">
        $(document).ready(function () {

            $('body').on("click", '.title_remove', function () {

                var project_name = $(this).closest("div.todo_box").find(".todo_title").val();
                var project_id = $(this).closest("div.todo_box").find(".todo_id").val();
                $(this).closest(".add_div").remove();
                if (project_id !== '') {
                    $(this).closest(".add_div").remove();
                    $.ajax({
                        type: 'GET',
                        url: '/app/delete_project/',
                        dataType: 'json',
                        data: {"project_id": project_id},
                        success: function (data) {

                            swal({
                                title: "Successfully Deleted",
                                text: " Project Name is " + project_name,
                                icon: "success",
                                closeOnClickOutside: false,
                                closeOnEsc: false
                            });
                        }
                    })
                }
                else {

                    $(this).closest(".add_div").remove();
                }
            })
        })

    </script>
    <script type="application/javascript">
        $(document).ready(function () {

            //-------------------ADD TASK IN DB---------------------------//

            $('body').on("click", '.task_save', function () {

                var task = $(this).parent().find('.task_desc');
                var task_desc = $(this).parent().find('.task_desc').val();
                var project_id = $(this).parent().parent().parent().find(".todo_id").val();

                $.ajax({
                    type: 'GET',
                    url: '/app/add_task/',
                    dataType: 'json',
                    data: {"project_id": project_id, "task_desc": task_desc},
                    success: function (data) {

                        if (data !== 'created') {
                            swal({
                                title: 'Error',
                                text: "Task Desc Already Teken",
                                icon: "error",
                                closeOnClickOutside: false,
                                closeOnEsc: false
                            });
                            task.removeAttr('readonly')

                        }
                        else {
                            swal({
                                title: 'Success',
                                text: "Task Desc Added",
                                icon: "success",
                                closeOnClickOutside: false,
                                closeOnEsc: false
                            });
                            task.attr("readonly", true);
                        }
                    }
                })
            });
        });
        $(document).ready(function () {

            //-------------------EDIT TASK IN DB---------------------------//

            $('body').on("click", '.task_edit', function () {
                $(this).parent().find('.task_desc').removeAttr('readonly');
            });
        })
    </script>
    <script type="application/javascript">
        $(document).ready(function () {
            $('body').on("click", '.task_remove', function () {

                var task_desc = $(this).parent().find('.task_desc').val();
                var project_name = $(this).parents().find(".todo_title").val();
                var project_id = $(this).parent().parent().parent().find(".todo_id").val();
                $.ajax({
                    type: 'GET',
                    url: '/app/delete_task/',
                    dataType: 'json',
                    data: {"project_id": project_id, "task_desc": task_desc},
                    success: function (data) {


                    }
                })
            })
        })

    </script>
    <script>
        function add_new_entry() {
            row_data =

                '<div class="panel panel-primary">' +

                '<div class="panel-heading todo_box">' +
                '<input type="text" class="todo_title" name="todo_title" style="width: 80%;color: black" placeholder="Enter Project Name">' +
                '<input type="text" class="todo_id" value="{{ i.id }}" name="todo_id" style="color: black" hidden>' +
                '</button>' +
                '<button style="border:none;background-color: transparent" class="btn title_edit">' +
                '<i class="fas fa-pencil-alt"></i></button>' +
                '<button style="border:none;background-color: transparent" class="btn btn-danger title_remove">' +
                '<i class="fas fa-trash-alt"></i></button>' +
                '<button style="border:none;background-color: transparent" class="btn btn-success title_save"><i class="fas fa-check"></i></button>' +
                '</div>' +
                '<div class="panel-body task_box" style="background-color: lightblue;">' +

                '<div class="task_div">' +
                '<input type="text" class="task_desc" value="{{ i.task_desc }}" name="task_desc" style="width: 80%;color: black" placeholder="Enter Task Description">' +
                '<button style="border:none;background-color: transparent" class="btn clone_task">' +
                '<i class="fas fa-plus-square"></i>' +
                '</button>' +
                '<button style="border:none;background-color: transparent;" class="btn task_edit">' +
                '<i class="fas fa-pencil-alt"></i>' +
                '</button>' +
                '<button style="border:none;background-color: transparent" class="btn task_remove">' +
                '<i class="fas fa-trash-alt"></i>' +
                '</button>' +
                '<button style="border:none;background-color: transparent" class="btn task_save">' +
                '<i class="fas fa-check"></i>' +
                '</button>' +
                '</div>' +
                '</div>' +
                '</div>' +

                '</div>';

            $('#id_parent').append(row_data);
        }

    </script>
    <script type="text/javascript">
        function add_new_div() {
            $('#add_new_div').on('click', function () {
                {
                    $('#id_parent').show();
                }
            });
        }
    </script>
{% endblock %}